<div class="modal fade" id="new_movie_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Toutes les photos: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <% @flat.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill, border:"16px_solid_white"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>
