<ul class="nav justify-content-center">
  <% @categories.each do |category| %>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"><%= category.name %></a>
    </li>
  <% end %>
</ul>
