<div class="footer">
  <div class="footer-links">
    <a href="#">@2023 Airbnb, Inc</a>
    <a href="#">Confidentialité</a>
    <a href="#">Conditions générales</a>
    <a href="#">Plan du site</a>
    <a href="#">Fonctionnement du site</a>
    <a href="#">Infos sur l'entreprise</a>
  </div>
  <div class="footer-copyright">
    <a href="#"><i class="fa-solid fa-globe"></i> Français (FR)</a>
    <a href="#">€ EUR</a>
    <a href="#">Assistance et ressources</a>
  </div>
</div>
