<div class="container">
  <div class="row">
    <div class="col">
      <div class="flat-cards">
        <%= link_to "#", class: 'flat-card' do %>
          <div class="flat-image">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="flat-description">
            <div class="flat-info">
              <h3>Lyon, France</h3>
              <p>Particulier</p>
              <p>18-21 juin</p>
              <p><strong>1560 €</strong> par nuit</p>
            </div>
            <div class="flat-rating">
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: 'flat-card' do %>
          <div class="flat-image">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="flat-description">
            <div class="flat-info">
              <h3>Lyon, France</h3>
              <p>Particulier</p>
              <p>18-21 juin</p>
              <p><strong>1560 €</strong> par nuit</p>
            </div>
            <div class="flat-rating">
              <i class="fa-solid fa-star"></i> 5,0
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: 'flat-card' do %>
          <div class="flat-image">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="flat-description">
            <div class="flat-info">
              <h3>Lyon, France</h3>
              <p>Particulier</p>
              <p>18-21 juin</p>
              <p><strong>1560 €</strong> par nuit</p>
            </div>
            <div class="flat-rating">
              <i class="fa-solid fa-star"></i> 5,0
            </div>
          </div>
        <% end %>
        <%= link_to "#", class: 'flat-card' do %>
          <div class="flat-image">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="flat-description">
            <div class="flat-info">
              <h3>Lyon, France</h3>
              <p>Particulier</p>
              <p>18-21 juin</p>
              <p><strong>1560 €</strong> par nuit</p>
            </div>
            <div class="flat-rating">
              <i class="fa-solid fa-star"></i> 5,0
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
