.btn-red {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: $red;
  transition: background 0.3s ease;
  cursor: pointer;
}

.btn-red:hover {
  background: $dark-red;
  color: white;
}

.btn-grey {
  color: black;
  padding: 8px 24px;
  border: 1px solid black;
  border-radius: 10px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.btn-grey:hover {
  background: $mid-grey;
  color: black;
  border: 1px solid black;
}

.btn-black {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: black;
  position: fixed;
  bottom: 80px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 7;
  width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1)
}
