.btn-red {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: $red;
  transition: background 0.3s ease;
  cursor: pointer;
}

.btn-red:hover {
  background: $dark-red;
  color: white;
}

.btn-grey {
  color: black;
  padding: 8px 24px;
  border: 1px solid black;
  border-radius: 10px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.btn-grey:hover {
  background: $mid-grey;
  color: black;
  border: 1px solid black;
}

.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: #FF385C;
  position: fixed;
  bottom: 80px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 1;
  width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  border: 1px solid #FF385C;
  transition: font-size 0.3s, width 0.3s;
}

.btn-pink:hover {
  color: white;
  width: 210px;
  font-size: 18px;
}

.btn-marker {
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  background-color: white;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border: none;
}

.btn-marker:hover {
  color: black;
}
