.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0px 80px;
  color: #222222;
  border-bottom: 1px solid rgba(167, 167, 167, 0.9);
  position: sticky;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .nav-link {
  color: #222222;
  opacity: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin: 10px;
}

.navbar-lewagon .searchbar {
  border: 1px solid rgba(100, 100, 100, 0.9);
  opacity: 0.6;
  border-radius: 50px;
  padding: 4px 8px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(13, 11, 11, 0.3)
}

.navbar-lewagon .form-control {
  border: none;
  background-color: white;
}

#arrival_date, #departure_date {
  border: none;
  border-right: 1px solid rgba(200, 200, 200, 0.9);
  width: 250px;
}

.navbar-lewagon .date-selector {
  height: 100%;
  background-color: red;
}

#arrival_date:focus, #departure_date:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-lewagon .form-control:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-lewagon .searchbar p {
  margin: 0px;
}

.navbar-lewagon .search-icon {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #FF385C;
  color: white;
  padding: 8px 8px;
  text-align: center;
  border: none;
}

.navbar-lewagon .dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border: 1px solid rgba(167, 167, 167, 0.9);
  border-radius: 50px;
  width: 80px;
}

.navbar-lewagon .dropdown i {
  margin-left: 8px;
}

.navbar-lewagon .nav-item {
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-lewagon .shadow-border :hover {
  box-shadow: 0px 2px 4px rgba(110, 110, 110, 0.9)
}
